.table {
    border-radius: 8px;
    background: var(--foreground-translucent);
    width: 50vw;
    align-self: start;
}

.tableHeader {
}

.tableHeader tr {
}

.tableBody {}

.tableRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: color 0.3s ease;
}

.tableRow:hover {
    background: #0a0a0a47;
}

.tableCell {
    width: clamp(100px, 20vw, 200px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tableCell span {
    transition: color .3s ease;
}

.tableCell span:hover {
    color: var(--light-blue);
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--foreground);
}

.actionButton:hover {
    color: var(--light-blue);
}